.container {
    margin-bottom: 32px;
    margin-right: 32px;
    margin-left: 32px;
}

.textContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.img {
    display: flex;
    flex: 1;
    margin-top: 16px;
    /* height: 200px; */
    margin-left: 16px;
    border-radius: 10px;
    border: 2px solid #2262c6;
    cursor: pointer;
}

.btnDiv {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: white;
    color: rgb(39, 101, 195);
    border: 1px solid rgb(39, 101, 195);
}

.notmandatorytext {
    color: gray;
    font-size: small;
}
