.footer {
    flex-shrink: 0;
    width: 100%;
    background-color:white;
    text-align: center;
    padding: 8px;
  }
  .copyright{
    color: rgb(163, 163, 163);
    font-weight: 400;
    font-size: .8rem;
  }